  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

  @font-face
  {font-family:JuventusFans;
    src:url(../fonts/JuventusFans--medium.woff2) format("woff2"),url(fonts/JuventusFans--medium.woff2) format("woff");
     font-weight:500;
     font-style:normal
    
    }
  body
{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 6px;
    background-color: #000;
  }
  ::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 25px;
}

a
{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

ul
{
  list-style: none;
}
/***************** home  *******************/

.home 
{
overflow-x: hidden;
}

/*this slider is background for home section  */

.slider
{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../imges/slide3.jpg');
    background-position: 20% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* content (nav -social media -icons slide */

.content
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

  .show-slider ,.hide-slider
  {
  margin:2% 50%;
  position: absolute; 
  color: #fff;
  z-index: 9999;
    margin-top: 30px;
    
  }
 #linkShowSlider ,#linkHideSlider
 {
  cursor: pointer;
  border: 1px solid #fff;
   padding: 20px;
    border-radius: 50%;
   z-index: 9999;

 
   position: relative;
 }
 #iconShowSlider  ,#iconHideSlider
 {
  position: absolute;

  transition: all 1s;
  font-size: 1.4rem;
  left: 25%;
  -webkit-animation: glowing 1000ms infinite;
  top: 10%;

 }
 @keyframes glowing {
  0% {
    top: 60%;
  }
  50% {
    top: 0%;

  }
  100% {
    top: 60%;

  }
}

 #linkHideSlider
 {
     display: none;
 }
/* navbar */

.fixed-navbar
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: auto;
  z-index: 99;
  padding: 1%;
  transition: all .4s;
  font-family: JuventusFans,Roboto,Helvetica;

}

.masterDropDown
{
  background-color: transparent;
  text-transform: uppercase;
  font-size: 2.32rem;
  font-weight: 700;
  border: none;
  color: #fff;
}

.linke-fixed-nav
{
   display: flex;
   align-items: center;
   font-family: JuventusFans,Roboto,Helvetica;
   text-transform: uppercase;
  }

.linke-fixed-nav li 
{
font-size: 1.8rem;

}

.linke-fixed-nav .a 
{
  color: #fff;
  transition: all .4s;
}
.linke-fixed-nav .a:hover
{
  color: #e62e4c;
}
.linksDropDown
{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: #8e8e8e;
  
}
/**************************************************************/
.nav-ele 
{
     color: #cdcdcd;
     background-color: rgba(0, 0, 0, 0.7);
     height: 100vh;
      width: 7%;
     z-index: 2;
}

.links 
{
    display: flex;
    text-decoration: none;
    flex-direction: column;
  }
  
.links a 
{
     font-size: 2.4rem;
     margin-bottom: 22px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     padding: 15px;
     position: relative;
}

 

.title-link 
{
    top: 0;
    left: 100%;
    color: #fff;
    padding:7px ;
    position: absolute;
    display: none;
    font-family: JuventusFans,Roboto,Helvetica;
    font-size: 2.3rem;
    font-weight: 600;

    /* font-family: 'Roboto', sans-serif;fon */
}

.links a:hover 
 
{
    background-color: rgba(61,61,61,.8);

}

.links a:hover .title-link
{
display: block;
background-color: rgba(61,61,61,.8);

}

/* logo right  */
.logo-right 
{
color: #fff;
 position: fixed;
top: 0;
right: 0;
justify-content: end;
 }
.imges-logo
{
     justify-content: end;
     padding: 0 10px;
     
 }
.imges-logo img 
{
    width:15%;
}

.icons-logo 
{
    background-color: #000;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    
}
 
.icons-logo a
{
    font-size: 1.4rem;
    transition: all .4s;
}

.icons-logo a:hover
{
    color: #ff2850;
}


/* social-media */
.social-media 
{
    z-index: 9;
     position: absolute;
    top: 25%; 
    right: 2%; 
    display: flex;
    flex-direction: column;
    color: #fff;
}
 
.for-icon-social 
{
    border: 1px solid #fff;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 9px;
    width: 15px;
    height: 15px;
    transition: all .4s;
 }

.for-icon-social:hover
{
    border-color:  #ff2850;
    color: #ff2850;
}



/* for slider  */

.mySwiper {
     width: 100%;
     position: absolute;
     bottom: -60%;
     z-index: 99;
     transition: all 1s;
   }
 
  .mySlide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .SwiperNextBtn  
  {
    position: relative !important;
     top:60px !important;
     left: 12% !important;
    color: #000 !important;
     padding-left: 0px !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000 !important;
    transition: all ease-in-out .2s ;
  }

  .SwiperNextBtn:hover ,  .SwiperNextPrev:hover
  {
    padding-left:20px !important;

}

  .SwiperNextPrev
  {
    position: relative !important;
     top:40px !important;
    left: 8% !important;
    color: #000 !important;
    padding-left: 0px !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000 !important;
    transition: all ease-in-out .2s ;

  }

  .SwiperNextPrev:hover
{
  padding-left:10px !important;

}

  .SwiperNextPrev::after ,  .SwiperNextBtn::after
  {
     font-size: 1.6rem;
     font-weight: 800;
  }

.all-contents 
{
  padding-right: 5%;
  text-align: end;
  margin-bottom: 10px;

}  

.all-contents button 
{
  background-color: transparent;
  padding: 6px 15px;
  border:  1px solid  #e62e4c;
  border-left: none;
  border-right: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: JuventusFans,Roboto,Helvetica;
  transition: all .6s;

}
.all-contents button:hover
{
  color: #e62e4c;
}
.icon-all-contents 
{
  color: #e62e4c;
   padding-right: 10px;
}

.child
{
background-image: url('../imges/hslide1.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 100% ;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;
 text-transform: uppercase;
 transform: scale(.98); 
 border-radius: 20px;
 box-shadow: 5px 10px 8px 10px #888888;
 transition: transform 0.2s ease; 
  cursor: pointer;
   transition: all .5s ease-in-out;
}
.child:hover 
{
    transform: scale(1.009); 
}

.layer 
{
 
   background-color: rgba(0, 0, 0, 0.4);
   padding-top: 80% ;
   height: 100%;
   width: 100%;
   border-radius: 20px;

}
.child-title
{
     color: #fff;
     font-weight: 500;
     padding: 10px;
 }

 
.child-btn  {
    border-radius: 4px;
    background-color: #ff2850;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.6rem;
    padding:12px 20px;
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;

    margin: 15px;
  }


.child-btn .arrrow-artical
{
  transition: all .8s;
  display: none;
  padding-left: 4px;
}

.child:hover .arrrow-artical
{
display: flex;
}
 
/* result matches */

.results-match 
{
 
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0px 0;
}


/* last match   */
.last-match 
{
  background-color: #2b2b2b;
  overflow: hidden;
  text-align: end;
  padding: 5% 10% 0 0%;

  color: #fff;
  font-family: JuventusFans,Helvetica;
  text-transform:uppercase ;
  font-weight: 900;
}

.last-match h4
{
  font-weight: 800;
  

}

.history-match h6 
{
  font-weight: 550;
  line-height: 35px;
  font-size: 1.4rem;

}
.result-next-match 
{
  display: flex;
   justify-content: end;
   font-weight:800;
}

.first-match
{
   display: flex;
  font-weight: 900;
  padding:0%;
  margin: 1%;

}
.history-match 
{
  background-color: #000;
 height: 100%;
 margin: 0 12px;
 font-weight: 900;
 text-align: center;
 padding: 10% 1%;
}
.lm
{
  font-weight: 900;
  text-align: start;
}
.SERIE
{
   font-size: .8rem;
   color:  #989787;
}
.goals
{
  color: #fff;
   display: flex;
}
.goals h4
{
  font-weight: 500;
}
.goals h2 
{
  font-weight: 600;
}
.goals h6
{
  font-weight: 600;
}
.goals h3
{
  color: #e62e4c;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: JuventusFans,Helvetica;
}


.matchroom-btn  {
  border-radius: 4px;
  background-color: #ff2850;
  border: none;
  color: #FFFFFF;
  text-align: center;
   padding:5px 35px;
   transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
  position: relative;
  font-size: 1.3rem;
 }


 .icon-matchroom-btn
 {
  position: absolute;
  right: 10px;
  top: 30%;
  opacity: 0;
  padding-right: 8px;
  transition: all .4s;
 }

 .matchroom-btn:hover  .icon-matchroom-btn
 {
  position: absolute;
  right: 0px;
  top: 30%;
  opacity:1;
 }

 /* next match  */
.next-match  
{
    background-color: #000;
    overflow: hidden;
    text-align: start;
    padding:4% 4% 3% 4%  ;
    color: #fff;
    font-family: JuventusFans,Helvetica;
    text-transform:uppercase ;
    position: relative;
    font-weight: 900;
}
.next-match h4
{
  font-weight: 700;
}

.next-history
{
  height: auto;
  padding: 15px 3px ;
  background-color: #464646;
  margin-right: 10px;
  text-align: center;
}
.next-history h6
{
  font-weight: 550;
  line-height: 35px;
  font-size: 1.4rem;
}

.content-next-match
{
  font-family: JuventusFans,Helvetica;
  text-align: start;
}
.content-next-match span
{
  color:  #989787;
  font-size: .8rem;
}

.content-next-match h2
{
  /* line-height: 18px; */
  font-weight: 600;
  
}

.standings {
  text-transform: uppercase;
  font-family: JuventusFans,Helvetica;
  padding: 5px 20px;
  color: #e62e4c;
  border: 1px solid #e62e4c;
  margin: 10px 0 20px 0;
  font-weight: 500;
  background: transparent;

}
.standings-icon 
{
  opacity: 0;
  transition: all .6s;
}

.standings:hover .standings-icon
{
  opacity: 1;
}


/* anlysis-matchs  */

.anlysis-matchs
{
  margin-left: 10%;
  text-align: center;
  display: flex;
}
.win
{
  margin-left: 25px;
}
.win h5
{
  color: #999;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: JuventusFans,Helvetica;

}

.win h4 
{
  font-family: JuventusFans,Helvetica;
  font-weight: 700;
  font-size: 1.7rem;
}

.current-time
{
  position: absolute;
  background-image: linear-gradient(#555555, #1f1f1f );
  display: flex;
  align-items: center;
  justify-content: center; 
  top: -10px;
  right: 0;
  width: 40%;
  height: 70%;
 
}
.current-time h1
{
  color: #fff;
  font-weight: 800;
  font-size: 4rem;
}

.current-time h6
{
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}
/**********************************************/

/* shop now */
.shop-now
{
  margin: 50px auto;
  text-align: center;
  padding: 5% 0;
  cursor: pointer;

}
.shop-now img 
{
  transform: scale(1);
  transition: all .5s ease-in-out;
}

.shop-now img:hover
{
  transform: scale(1.1); 
}

/*************** years-special **************/

.years-special
{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   overflow: hidden;
  min-height: 90vh;
  width: 100%;
  background-image: url('../imges/bgspicial.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 100% ; */
  margin-bottom: 20px;
}

.title-button
{
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: absolute;
  bottom: 3%;
  width: 100%;
  color: #fff;
  text-align: center;
}

.title-button h1 
{
  font-size: 8rem;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 900;
 }
 .title-button button
 {
  background-color: #fff;
  text-transform: uppercase;
  color: #e62e4c;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;
  border: none;
  font-weight: 800;
  font-size: 1.6rem;
  padding: 6px 80px ;
  position: relative;
 }

 .read-here
 {
  background-color: #fff;
  text-transform: uppercase;
  color: #e62e4c;
  position: absolute;
  margin-top: 7px;
  right: 30%;
  z-index: -1;
  opacity: 0;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;
  transition: all 1s;
 }

 .title-button button:hover .read-here
 {

  right: 20%;
  z-index: 1;
  opacity: 1;
 }

 /* tickets  */
 
 .main-section-ticckets ,.main-section-Gifts ,.main-section-memberShip
 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
 }

 .titl-ticket  ,.title-memberShip 
 {
  color: #fff;
  font-family: JuventusFans;
  font-size: 5rem;
  padding: 8px;
  font-weight: 600;
  text-transform: uppercase;
}
 .two-btn 
 {
   position: absolute;
  width: 100%;
  bottom: 8%;
  left: 0;
 }

.two-btn  .btnPrevTicket ,.two-btn .btnNextTicket ,.btnNextMemberShip ,.btnPrevMemberShip,.btnNexttv ,.btnPrevtv
{
border: 3px solid #fff;
position: absolute;
left: 5%;
padding: 25px !important;
border-radius: 50% ;
}
.btnNextTicket::after ,.btnPrevTicket::after ,.btnPrevMemberShip::after,.btnNextMemberShip::after ,.btnNexttv::after ,.btnPrevtv::after
{
  color: #fff ;
  font-size: 25px !important;
  font-weight: 900 !important;
}

.two-btn .btnNextTicket ,.btnNextMemberShip ,.btnNexttv 

{
 
  left: 10%;
}


.Section-Tickets ,.Section-memberShip 
 {
  background-color: rgba(0,0,0,0.5);
  padding: 110px 0;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

    .SwiperTicket ,.SwiperGifts ,.SwiperMemberShip
    {
      width: 100%;
    }

    .SlideTicket {
      background-repeat: no-repeat;
      background-size: cover;
      }

    .underlayerslide
    {
      padding: 14% 4%;
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      font-family: JuventusFans,Roboto,Helvetica;
      color: #fff;
    }

    .underlayerslide h6
    {
      color: #909090;
    }
    .underlayerslide h3 
    {
      margin-top: 20px;
      line-height: 30px;
      font-weight: 800;
      font-size: 3rem;
    }
    .underlayerslide h4 
    {
      font-weight: 500;
      font-size: 2.5rem;
    }
    .underlayerslide button 
    {
      padding: 8px 20px ;
      width: 150px;
      color: #fff;
      border: 1px solid #e62e4c;
      background-color: #e62e4c;
      margin-bottom: 12px;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .btn-trns 
    {
      background-color: transparent !important;
      color: #e62e4c !important;
    }

    .right-Tiket ,.right-Gifts ,.right-memberShip 
    {
      padding: 2% 0;
      height: auto;
    }

/* 
    @media (max-width: 760px) {
      .btnNextTicket 
      {
        right: 20px;
        transform: rotate(90deg);
      }

      .btnPrevTicket
       {
        left: 20px;
        transform: rotate(90deg);
      }
    } */
  

    /*************** Gifts ***************/

.titl-Gifts
{
  color: #000;
  font-family: JuventusFans;
  font-size: 3rem;
  padding: 8px;
  font-weight: 400;
  text-transform: uppercase;
}

.btnsGift
{
  position: absolute;
  
  left: 10px;
  background-color: red;
}


.btnPrevGift ,.btnNextGift
{
border: 3px solid #000;
position: absolute;
left: 5%;
padding: 25px !important;
border-radius: 50% ;
}

.btnNextGift

{
 
  left: 100px;
  
}

.onlineShop 
{
  position: absolute;
  right: 3%;
  text-transform: uppercase;
  font-family: JuventusFans,Roboto,Helvetica;
  color: #000;
}
.onlineShop button 
{
  background-color: transparent;
  border: 2px solid #e62e4c;
  border-left: none;
  border-right: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all .4s;
}
.onlineShop button:hover
{
  color: #e62e4c
}
 

.btnNextGift::after,.btnPrevGift::after
{
 color: #000;
}


/* memberShip */

.SlidememberShip img
{
  position: relative;
}
.SlidememberShip h1 
{
  position: absolute; 
  display: flex;
  background-color: rgba(0, 0,0, 0.4);
  justify-content: start;
  align-items: end;
  color: #fff;
  text-transform: uppercase;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 0 6% 4% ;
  z-index: 999999; 
  top: 0;
  width: 100%; 
  height: 100%;
}




/* JUVENTUS TV ******/
.main-section-tv
{
  background-color: #000;
  width: 100%;
  height: auto;
  overflow: hidden;

}
.right-tv
{
  border-left: #cdcdcd 1px solid;
  padding: 5px 0 0px 10px;
  height: auto;
  overflow: visible;
}

.Slidetv img
{
  position: relative;
  background-color: red;
  transform: scale(1);
  transition: all .4s;
 height: 100%;
}
.Slidetv .alklam 
{
  position: absolute; 
  background-color: rgba(0, 0,0, 0.4
  );
  color: #fff;
  text-transform: uppercase;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;

  top: 0;
  /* bottom: -120px; */
  width: 100%; 
  height: 100%;
  
}
.Slidetv:hover img{
  transform: scale(1.01);
}

.alklam span
{
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: JuventusFans,Roboto,Helvetica,Arial,sans-serif;
color: rgba(255, 255, 255,.7)
}
.alklam h3
{ 
   bottom: 0%;
  background-color: rgb(0, 0, 0);
  right: 0;
  padding: 10px;
  margin-bottom: -1px;
  position: absolute;
  font-size: 1.9rem;
  font-weight: 600;
}



.wAllVideo 
{
  position: absolute;
  right: 3%;
  text-transform: uppercase;
  font-family: JuventusFans,Roboto,Helvetica;
  color: #fff;
}
.wAllVideo button 
{
  background-color: transparent;
  border: 2px solid #e62e4c;
  border-left: none;
  border-right: none;
  font-family: JuventusFans,Roboto,Helvetica;

  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  transition: all .4s;
}
.wAllVideo button:hover
{
  color: #e62e4c
}
 

/******************** your-possion ********************/

.your-possion 
{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image:url('../imges/r2gmfx6xqb02j02wrgom.webp') ;
  background-size: cover;
background-repeat: no-repeat;
width: 100%;
min-height: 90vh;
}

.possion-content
{
  position: absolute;
  bottom: 3%;
  display: block;
  text-align: center;
  color: #fff;
  width: 100%;
  font-family: JuventusFans,Roboto,Helvetica;

}

.possion-content h1 
{
  font-size: 6.3rem;
  font-weight: 600;
}

.possion-content button
{
  border: none;
  padding: 7px 35px;
  color: #e62e4c;
  font-size: 1.4rem;
  position: relative;
  font-weight: 600;

}
.icon-Discover
{
  position: absolute;
  top: 35% ;
  right: 10%;
  opacity: 0;
  transition: all .5s;
}
.possion-content button:hover .icon-Discover 
{
right: 3%;
opacity: 1;
}

/********** download-play ********/

.download-play
{
  background-color: #e62e4c;
  margin: 0 2%;
}

.download ,.play
{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  
}

.underlineDownload ,.underlinePlay
{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: JuventusFans,Roboto,Helvetica;
  text-transform: uppercase;
  padding: 25% 0;
}
.underlineDownload h3 ,.underlinePlay h3
{
color: #e62e4c;
font-size: 2.2rem;
font-weight: 600;
}
.underlineDownload h1 ,.underlinePlay h1
{
  color: #fff;
  font-weight: 600;
  font-size: 5.5rem;
  line-height: 90%;
}

/* play */

.underlinePlay button
{
  border: none;
  padding: 7px 40px;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  background-color: #e62e4c;
  font-weight: 500;

}
.icon-play
{
  position: absolute;
  top: 30% ;
  right: 10%;
  opacity: 0;
  transition: all .5s;
}
.underlinePlay button:hover .icon-play 
{
right: 5%;
opacity: 1;
}

/************************* register *************************/


.register
{
  background-image: linear-gradient(#464444, #111111);
  margin: 10% 5% 5% 5%;
}
.register-content
{
   padding: 2%;
  font-family: JuventusFans,Roboto,Helvetica;
  text-transform: uppercase;
  color: #fff;

}
.register-content h6 
{
  font-size: 1.5rem;
  font-weight: 500;
}

.register-content h3 
{
  font-size: 2rem;
  padding: 15px 0;
  font-weight: 600;
}
.register-content input::placeholder
{
  color:#555555;
  font-size: 1.1rem;
  font-weight: 600;
}
.register-content input
{
  color: #000;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 550;
  font-family: sans-serif;
}
.register-content button
{
  padding:10px 30px;
  border: none;
  background-color: #ff2850;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* footer  */
footer
{

  background-color: rgb(0, 0, 0);
  padding: 2% 1%;
}


.up-section
{
  padding: 1% 0;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
}

.logo-footer img
{
  width: 80px;
}

.socia-media-footer
{
  color: #fff;
}
.socia-media-footer a 
{
  padding: 0 9px;
}

/*********** quik-links *******/

.quik-links
{
  font-family: JuventusFans,Roboto,Helvetica;
  text-transform: uppercase;
  padding: 1% 0;
  border-bottom: 1px solid #333;
 
}
.sub-links
{
  color: #666;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all .4s;
}
.master-link
{
  transition: all .4s;
  font-weight: 700 ;
color: #fff ;
font-size: 1.3rem ;
}

.sub-links:hover, .master-link:hover
{
  color: #222;
}

.logo-images-footer  img
{
  opacity: 0.4;
  transition: all .4s;
}

.logo-images-footer img:hover
{
opacity: 1;
}
.copy-right
{
  padding: 1%;
  background-color:#151515 ;
  text-align: center;
  color: #666;
  font-family: JuventusFans,Roboto,Helvetica;
  text-transform: uppercase;
}
 
.copy-right span
{
  font-size:1.4rem;
}
.copy-right p 
{
  font-size: 1.1rem;
}